<header>
    <div class="headtop"></div>
    <div class="contenttop">
      <div class="logo f_l">{{ site_name }}</div>
      <div class="blank"></div>
      <nav>
        <div  class="navigation">
          <ul class="menu">
            <li><a href="{% url 'blog:home' %}">网站首页</a></li>
            <li><a href="#">技术杂谈</a>
              <ul>
                  {% for nav_jszt in nav_jszt_category %}
                  <li><a href="{% url 'blog:article_list' nav_jszt.id %}">{{ nav_jszt.name }}</a></li>
                  {% endfor %}
              </ul>
            </li>
            <li><a href="#">生活随笔</a>
              <ul>
                  {% for nav_shsb in nav_shsb_category %}
                  <li><a href="{% url 'blog:article_list' nav_shsb.id %}">{{ nav_shsb.name }}</a></li>
                  {% endfor %}
              </ul>
            </li>
            <li><a href="{% url 'blog:aboutme' %}">关于自己</a> </li>
            <li><a href="{% url 'blog:messageme' %}">给我留言</a> </li>
          </ul>
        </div>
      </nav>
      <SCRIPT type=text/javascript>
	// Navigation Menu
	$(function() {
		$(".menu ul").css({display: "none"}); // Opera Fix
		$(".menu li").hover(function(){
			$(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
		},function(){
			$(this).find('ul:first').css({visibility: "hidden"});
		});
	});
</SCRIPT> 
    </div>
</header>