  <div class="ph">
    <h3 class="tit">阅读排行</h3>
    <ul class="rank">
        {% for article in hits_articles %}
        <li><a href="#" target="_blank" title="【{{ article.category.name }}】{{ article.title }}">{{ article.title }}</a></li>
        {% endfor %}
{#      <li><a href="/jstt/bj/2017-07-13/784.html" title="【心路历程】请不要在设计这条路上徘徊啦" target="_blank">【心路历程】请不要在设计这条路上徘徊啦</a></li>#}
{#      <li><a href="/jstt/web/2015-07-03/749.html" title="帝国cms首页、自定义页面如何实现分页" target="_blank">帝国cms首页、自定义页面如何实现分页</a></li>#}
{#      <li><a href="/jstt/web/2015-02-25/745.html" title="【已评选】给我模板PSD源文件，我给你设计HTML！" target="_blank">【已评选】给我模板PSD源文件，我给你设计HTML！</a></li>#}
{#      <li><a href="/jstt/bj/2015-02-14/744.html" title="【郑重申明】本站只提供静态模板下载！" target="_blank">【郑重申明】本站只提供静态模板下载！</a></li>#}
    </ul>
  </div>