{#<div class="blank"></div>#}
{#<div class="pagelist">#}
{#    页次：{{ current_page.number }}/{{ current_page.paginator.num_pages }}&nbsp;#}
{#    每页：{{ per_page }}&nbsp;总数：{{ current_page.paginator.count }}&nbsp;<a href="{% url 'blog:article_list' category.id 1 %}">首页</a>#}
{#    {% if current_page.has_previous %}#}
{#    <a href="{% url 'blog:article_list' category.id current_page.previous_page_number %}">上一页</a>#}
{#    {% endif %}#}
{#    {% if current_page.has_next %}#}
{#    <a href="{% url 'blog:article_list' category.id current_page.next_page_number %}">下一页</a>#}
{#    {% endif %}#}
{#    <a href="{% url 'blog:article_list' category.id current_page.paginator.num_pages %}">尾页</a>#}
{#</div>#}


<div class="blank"></div>
{% if tag %}
<div class="pagelist">
    页次：{{ current_page.number }}/{{ current_page.paginator.num_pages }}&nbsp;
    每页:{{ per_page }}&nbsp;总数:{{ current_page.paginator.count }}&nbsp;<a href="{% url 'blog:article_list' 'tag' tag.id 1 %}">首页</a>
    {% if current_page.has_previous %}
    <a href="{% url 'blog:article_list' 'tag' tag.id current_page.previous_page_number %}">上一页</a>
    {% endif %}
    {% if current_page.has_next %}
    <a href="{% url 'blog:article_list' 'tag' tag.id current_page.next_page_number %}">下一页</a>
    {% endif %}
    <a href="{% url 'blog:article_list' 'tag' tag.id current_page.paginator.num_pages %}">尾页</a>
</div>
{% else %}
<div class="pagelist">
    页次：{{ current_page.number }}/{{ current_page.paginator.num_pages }}&nbsp;
    每页：{{ per_page }}&nbsp;总数：{{ current_page.paginator.count }}&nbsp;<a href="{% url 'blog:article_list' category.id 1 %}">首页</a>
    {% if current_page.has_previous %}
    <a href="{% url 'blog:article_list' category.id current_page.previous_page_number %}">上一页</a>
    {% endif %}
    {% if current_page.has_next %}
    <a href="{% url 'blog:article_list' category.id current_page.next_page_number %}">下一页</a>
    {% endif %}
    <a href="{% url 'blog:article_list' category.id current_page.paginator.num_pages %}">尾页</a>
</div>
{% endif %}


