{% load staticfiles %}
  <div class="tuwen">
    <h3 class="tit">图文推荐</h3>
    <ul>
        {% for article in recommend_articles %}
        <li><a href="{{ article.get_absolute_url }}" title="{{ article.title }}"><img src="{{ article.picture.url }}"><b>{{ article.title | truncatechars:18 }}</b></a>
          <p><span class="tulanmu"><a href="#">{{ article.category.name }}</a></span><span class="tutime">{{ article.publish | date:'Y-m-d' }}</span></p>
        </li>
        {% endfor %}
    </ul>
  </div>