{% load staticfiles %}
  <div class="tuwen">
    <h3 class="tit">图文推荐</h3>
    <ul>
      <li><a href="/"><img src="{% static 'blog/images/01.jpg' %}"><b>住在手机里的朋友</b></a>
        <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
      </li>
      <li><a href="/"><img src="{% static 'blog/images/02.jpg' %}"><b>教你怎样用欠费手机拨打电话</b></a>
        <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
      </li>
      <li><a href="/"><img src="{% static 'blog/images/06.jpg' %}"><b>住在手机里的朋友</b></a>
        <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
      </li>
    </ul>
  </div>