{% extends "blog/baseblock/base.html" %}
{% load staticfiles %}
{% block title %}{{ site_name }}{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
{% endblock %}
{% block script %}{% endblock %}

{% block middle_box %}
  <div class="jztop"></div>
  <div class="container">
    <div class="bloglist f_l">
      {% include "blog/baseblock/list.html" %}
    </div>
    <div class="r_box f_r">
      {% include "blog/baseblock/Attention.html" %}
      {% include "blog/baseblock/photorecommend.html" %}
      {% include "blog/baseblock/hitsort.html" %}
      {% include "blog/baseblock/tags.html" %}
      {% include "blog/baseblock/links.html" %}
    </div>
  </div>
{% endblock %}